body{
	background-color: black;
	font-family: 'Glegoo', sans-serif;	
}

#wrapper{
	display:block;
	width:100%;	
	height:100%;		
	/*margin-left:  10px;
	margin-right: 10px;   		*/
}

.state{	
	position: relative;
    float: left;
    margin: 5px;
	width: 90px;
	height: 90px;
	border-style:solid;
	border-width: 2px;
	border-color:white;	
	background-color: black;
	border-radius: 4px;
}
.state:hover{
	border-color:gray;	
	background-color:gray;	
	opacity: 0.8;
}

#worktitle{
	position: relative;
	width: 100%;
	height: 50px;
	margin-left: 10px;
	float: left;
	font-size: 30px;	
	color: white;
	font-weight: bold;
}

.title{
	position: relative;
	margin:10px;
	float:center;
	font-weight: bold;
	color: white;
	font-size: 15px;
}

a:link {text-decoration:none; color: gray}
a:visited {text-decoration:none;color: gray}
a:hover {text-decoration:none;color: gray}
a:active {text-decoration:none;color: gray}